:root {
    --font-primary: Pacifico, cursive;
    --font-secondary: Baskerville,
        Georgia,
        'Times New Roman',
        serif;
    --primary-color: #205915;
    --secondary-color: #880000;
    --tertiary-color: #0a585d;
    --primary-border-color: #f59410;
    --background-color: #ffffff;
    --global-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0 auto;
    border: 20px solid transparent;
    border-image: linear-gradient(to right,
            #2c791d,
            #c20000,
            #157170,
            #f59410) 3;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    grid-gap: 10px;
    background-image: repeating-conic-gradient(rgba(217, 217, 217, 0.4) 0% 25%,
            rgba(255, 255, 255, 0.1) 25% 50%);
    background-size: 100px 100px;
    /* Adjust the5 size of the squares as needed */
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right,
            #205915,
            #880000,
            #0a585d,
            #f59410) 3;
    background-image: repeating-conic-gradient(rgba(217, 217, 217, 0.4) 0% 25%,
            rgba(255, 255, 255, 0.1) 25% 50%);
    background-size: 100px 100px;
    /* Adjust the5 size of the squares as needed */
}

.home img {
    max-width: 100%;
    height: auto;
    padding: clamp(10px, 2vw, 20px);
    background-color: transparent;
    margin: 10px;
}

.view img {
    max-width: 75%;
    height: auto;
    padding: clamp(10px, 2vw, 20px);
    background-color: transparent;
    margin: 10px;
}

.url {
    grid-column: span 2;
    justify-self: center;
    /*width: 100%;*/
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--primary-color);
}

.view figcaption {
    font-family: var(--font-primary);
    font-size: clamp(.5rem, 5vw, 1rem);
    color: var(--primary-color);
    margin-top: -60px;
}

.home figcaption {
    font-family: var(--font-primary);
    font-size: clamp(.5rem, 5vw, 1rem);
    color: var(--primary-color);
    margin-top: -40px;
}

.my-url {
    font-family: var(--font-primary);
    color: var(--primary-color)
}

.recipe label {
    display: inline;
    margin-top: 3rem;
    margin-bottom: 100px;
}

.recipe input {
    background-color: var(--background-color);
    border: 3px solid var(--secondary-color);
    border-radius: var(--global-radius);
    padding: .75rem;
    margin-bottom: 10px;
    color: var(--primary-color);
    width: 100%;
    max-width: 400px;
    font-family: var(--font-family);
    font-size: clamp(.5rem, 5vw, 1rem);
}

.features {
    display: grid;
    grid-template-columns: 1fr;
    font-size: clamp(.5rem, 5vw, 1rem);
    grid-auto-rows: 45px;
    margin-bottom: 25px;
}

.italics {
    font-style: italic;
    color: #111111;
    font-size: 1rem;
}

.checkbox {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.checkbox-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-align label {
    margin: 0;
    text-align: center;
}

.checkbox-align input[type="checkbox"] {
    margin-bottom: -15px;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: var(--global-radius);
    background-color: #ffffff;
    cursor: pointer;
    border: 4px solid #ffd700;
}

.checkbox input[type="checkbox"]:checked {
    background-color: #dbd300;
    border-color: #f5ce00;
    content: "\2713";
    font-size: 16px;
}

.checkbox input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox label {
    font-size: 1rem;
    margin-top: 20px;
}

.preptime input {
    width: 25%;
    height: 40px;
    border: 3px solid var(--tertiary-color);
    border-radius: var(--global-radius);
    margin-bottom: 20px;
}

.servings input {
    width: 10%;
    height: 40px;
    border: 3px solid var(--secondary-color);
    border-radius: var(--global-radius);
    margin-bottom: 20px;
}

.ingredients {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.ingredients label {
    font-weight: bold;
    padding-left: 7px;
}

.ingredients textarea {
    border: 3px solid var(--primary-color);
    border-radius: var(--global-radius);
    width: 50%;
    height: 50px;
}

.directions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.directions label {
    font-weight: bold;
    padding-left: 13px;

}

.directions textarea {
    border: 3px solid var(--secondary-color);
    border-radius: var(--global-radius);
    width: 50%;
    height: 50px;
    padding: 5px;
}

.bytheway {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bytheway label {
    font-weight: bold;

}

.bytheway textarea {
    border: 3px solid var(--primary-color);
    width: 50%;
    height: 50px;
    border: 3px solid var(--tertiary-color);
    border-radius: var(--global-radius);
    padding: 5px;
}

.contributor {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.contributor label {
    font-weight: bold;

}

.contributor input {
    border: 3px solid var(--primary-color);
    width: 50%;
    height: 50px;
    border: 3px solid var(--primary-color);
    border-radius: var(--global-radius);
    padding: 5px;
}

input[type="submit"] {
    font-family: var(--font-family);
    font-size: 1.2rem;
    margin-top: 2rem;
    background-color: #0a0a1a;
    background-image: radial-gradient(circle at center, #0f3460 0%, #0a0a1a 100%);
    color: var(--background-color);
    border: 3px solid var(--primary-border-color);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 1rem 12%;
    box-shadow: 1px 1px 4px #999;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 35px);
    background-color: var(--background-color);
    border: 2px solid var(--primary-border-color);
    border-radius: var(--global-radius);
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 30rem) {
    body {
        max-width: 40rem;
    }

}