@media only screen and (min-width: 550px) {

    h2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1 1 100%;
        direction: ltr;
    }


    h1 {
        width: 30%;
        font-size: 1.5rem;
    }

    ul {
        display: flex;
        width: auto;
        height: auto;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        font-size: 2vw;
    }

    #menu {
        display: none;
    }
}