:root {
    --font-primary: Pacifico, cursive;
    --font-secondary: Baskerville, Georgia, 'Times New Roman', serif;
    --primary-color: #205915;
    --secondary-color: #880000;
    --tertiary-color: #0a585d;
    --accent-color: #f59410;
    --global-radius: 6px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

/* ===== Page Container ===== */
body {
    max-width: 1200px;
    margin: auto;
    /*padding: clamp(12px, 3vw, 24px);*/
    border: 20px solid transparent;
    border-image: linear-gradient(to right,
            #2c791d,
            #c20000,
            #157170,
            #f59410) 3;
}

/* ===== Header ===== */
header {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: space-between;
    /*gap: clamp(1rem, 4vw, 2.5rem);*/
    padding-bottom: 1rem;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right,
            #205915,
            #880000,
            #0a585d,
            #f59410) 3;
    background-image: repeating-conic-gradient(rgba(217, 217, 217, 0.4) 0% 25%,
                rgba(255, 255, 255, 0.1) 25% 50%);
    background-size: 100px 100px;
        /* Adjust the5 size of the squares as needed */
   }


header img {
    max-width: 100%;
    height: auto;
    border: ridge 10px #4CAF50;
    padding: clamp(10px, 2vw, 20px);
    background-color: transparent;
    margin: 10px;
}

header h1 {
    text-align: center;
    flex: 1 1 100px;
    font-family: var(--font-primary);
    font-size: clamp(1rem, 5vw, 2rem);
    color: #2c791d;
    background-color: transparent;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
   background-image: repeating-conic-gradient(rgba(217, 217, 217, 0.4) 0% 25%,
        rgba(255, 255, 255, 0.1) 25% 50%);
        background-size: 100px 100px;
        /* Adjust the5 size of the squares as needed */
    }

    .kitchen {
        grid-column: span 2;
        grid-row: span 2;
    }

    .instructions {
        grid-column: 3 / span 2;
        grid-row: span 1;
        font-family: var(--font-secondary);
        font-size: 1.2rem;
        color: var(--secondary-color);
        padding: 15px;
    }

    .my-url {
        font-family: var(--font-primary);
        color: var(--primary-color)
    }

.look-button {
    display: inline-block;
    width: 256px;
    height: 256px;
    background-image: url('../images/look-button-up.webp');
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 100px;
}

.look-button:hover {
    background-image: url('../images/look-button-down.webp');
}

.add-button {
    display: inline-block;
    width: 256px;
    height: 256px;
    background-image: url('../images/add-button-up.webp');
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 100px;
}

.add-button:hover {
    background-image: url('../images/add-button-down.webp');
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 30px);
    border: 5px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    text-align: center;
    font-size: clamp(.5rem, 5vw, 1rem);
    width: 95%;
    margin: 20px 10px;
}

.ref-button {
    display: inline-block;
    text-decoration: none;
    font-size: clamp(.5rem, 5vw, 1rem);
}
/* ===== Mobile Optimization ===== */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

}
