:root {
    --font-primary:  Pacifico, cursive;
    --font-secondary: Baskerville,
        Georgia,
        'Times New Roman',
        serif;
    --primary-color: #205915;
    --secondary-color: #880000;
    --tertiary-color: #0a585d;
    --primary-bordor-color: #f59410;
    --background-color: #f59410;
    --global-radius: 6px;
}

* {
    box-sizing: border-box;
}

html,
body {
    
    margin: 0;
    
    
}

body {
width: 90%;
max-width: 960px;
margin-left: auto;
margin-right: auto;
border: 5px solid transparent;
border-width: 20px;
border-image: linear-gradient(to right, #2c791d,#c20000,#157170, #f59410 ) 3;

}


header {
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: 10px solid var(--primary-color);
    border: 5px solid transparent;
        /* Required for border-image to show */
    border-width: 0 0 10px 0;
    border-image: linear-gradient(to right, #2c791d, #c20000, #157170, #f59410) 3;
}

main {
    margin: 0px;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    border-style: ridge;
    border-width: 10px;
    border-color: #4CAF50;
    /* A shade of green */
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin-right: 20px;
}

.banner {
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: #2c791d;
}

.banner figcaption {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--secondary-color);
    margin-top: -40px;
}

.logo figcaption {
    text-align: center;
        font-family: var(--font-secondary);
        font-size: 1rem;
        color: var(--secondary-color);
}

.bold {
    font-weight: bold;
}

.site-plan {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 10px;
    color: var(--secondary-color)
}

.my-url {
    font-family: var(--font-primary);
    color: var(--primary-color)
}

.purpose {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 10px;
    color: var(--tertiary-color);
}

.suggestions {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 0 10px;
    color: var(--secondary-color);
}

.scenarios {
   font-family: var(--font-secondary);
    margin-bottom: -20px;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.box {
    width: 50px;
    height: 50px;
}

#color1 {
    background-color: var(--primary-color);
}

#color2 {
    background-color: var(--secondary-color);
}
#color3 {
    background-color: var(--tertiary-color);
}
#color4 {
    background-color: var(--primary-bordor-color);
}

.schema {
    font-family: var(--font-secondary);
    margin: 10px;
    font-size: 1.2rem;
    color: var(--tertiary-color);
}

.colors {
    display: flex;
    flex-direction: row;
    margin: 10px 40px;
}

.typography {
    font-family: var(--font-secondary);
    margin: 10px;
    font-size: 1.2rem;
    color: var(--tertiary-color);
}

.sample-text ul {
    list-style-type: none;
    margin-top: -10px;
}

.pacifico {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: var(--primary-color)
}

.baskerville {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--tertiary-color)
}

.wireframe {
    font-family: var(--font-secondary);
    margin: 10px;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.wireframes {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wireframes figcaption {
    text-align: center;
    font: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--secondary-color)
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 35px);
    border: 5px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    text-align: center;
    font-size: 16px;
    width: 95%;
    margin: 20px 10px;
}