:root {
    --font-primary: Pacifico, cursive;
    --font-secondary: Baskerville,
        Georgia,
        'Times New Roman',
        serif;
    --primary-color: #205915;
    --secondary-color: #880000;
    --tertiary-color: #0a585d;
    --primary-border-color: #f59410;
    --background-color: #ffffff;
    --global-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0 auto;
    /*padding: clamp(12px, 3vw, 24px);*/
    border: 20px solid transparent;
    border-image: linear-gradient(to right,
            #2c791d,
            #c20000,
            #157170,
            #f59410) 3;
}

main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    font-family: var(--font-secondary);
}

figure {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

figcaption {
    font-family: var(--font-primary);
    font-size: .8rem;
    color: var(--primary-color);
    border: 3px solid green;
    border-radius: var(--global-radius);
    margin-top: -5px;

}

figure img {
    width: clamp(75px, 7vw, 300px);
    height: auto;
    object-fit: contain;
    /* or contain */
}
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    /*box-sizing: border-box;*/
    border: 5px solid var(--primary-border-color)
}

.main-header h1 {
    margin: 0 1.2rem 0 0;
    text-align: center;
    width: 100%;
    font-family: var(--font-secondary);
    font-size: clamp(.8rem, 7vw, 2rem);
    color: var(--secondary-color);
}

.main-header h2 {
    margin: 0 1.2rem .6rem 0;
    text-align: center;
    width: 100%;
    font-family: var(--font-primary);
    font-size: clamp(1rem, 7vw, 3rem);
    color: var(--primary-color);
}

figcaption {
    font-family: var(--font-primary);
    font-size: .8rem;
}

#catagory-title  {
    border: 3px solid red;
}

.logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.logo-menu img {
    width: clamp(50px, 20vw, 200px);
    height: auto;
}

.logo-menu a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--secondary-color);
}

/*.logo-menu a figure figcaption {
    border: 3p solid purple;
}*/


/* Mobile View ***************/
#menu {
    display: block;
    width: 15%;
    /*font-size: 1rem;*/
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;
    padding: 0.5rem 0.5rem 0.5rem 1.1rem;
    margin-bottom: auto;
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
}

.hide {
    color: var(--background-color);
}

#menu::before {
    content: "\2630";
    font-size: 2rem;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    margin: 0.5rem;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
    border: 4px solid var(--primary-border-color);
    border-radius: 10px;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(.5rem, 7vw, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: var(--primary-color);
    background: linear-gradient(45deg,
            #54c3fe 5%,
            /* Highlight */
            #f8d2cf 20%,
            /* Light shade */
            #b5bbd9 50%,
            /* Mid-tone */
            #ffebb5 80%,
            /* Dark shade */
            #4ebeff 95%
            /* Another light shade */
        );
    border: 2px solid darkblue;
    border-radius: 10px;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "\2716";
    color: var(--tertiary-color)
}


footer {
    max-width: 960px;
    margin: 0 auto;

    /* Adds a shadow for depth */
    text-align: center;
    font-size: 16px;
    width: 100%;
    border-top: 3px solid blue;
}

@media only screen and (min-width: 600px) {

    .navigation {
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1 1 100%;
        direction: ltr;
    }


    h1 {
        width: 30%;
        font-size: 1.5rem;
    }

    ul {
        /*display: flex;*/
        width: auto;
        height: auto;
    }

    .navigation li {
        display: block;
        /* change state in small view */
       /* flex: 1 1 100%;*/
    }

    .navigation a {
        text-align: center;
        font-size: 2vw;
    }

    #menu {
        display: none;
    }

    section {
        width: 100%;

    }
}