:root {
    --font-primary: Pacifico, cursive;
    --font-secondary: Baskerville,
        Georgia,
        'Times New Roman',
        serif;
    --primary-color: #205915;
    --secondary-color: #880000;
    --tertiary-color: #0a585d;
    --primary-border-color: #f59410;
    --background-color: #f59410;
    --global-radius: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    width: 100%;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    /*box-sizing: border-box;*/
    border: 5px solid var(--primary-border-color)
}

.main-header h1 {
    margin: 0 1.2rem 0 0;
    text-align: center;
    width: 100%;
    font-family: var(--font-secondary);
    font-size: clamp(.8rem, 7vw, 2rem);
    color: var(--secondary-color);
}

.main-header h2 {
    margin: 0 1.2rem .6rem 0;
    text-align: center;
    width: 100%;
    font-family: var(--font-primary);
    font-size: clamp(1rem, 7vw, 3rem);
    color: var(--primary-color);
}

figcaption {
    font-family: var(--font-primary);
    font-size: .8rem;
}



.logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.logo-menu img {
    width: clamp(50px, 20vw, 200px);
    height: auto;
}

.logo-menu a {
    text-decoration: none;
    font-size: 1rem;
    color: blue;
}

.logo-menu a figure figcaption {
    border: 3p solid red;
}


/* Mobile View ***************/
#menu {
    display: block;
    font-size: clamp(.5rem, 7vw, 2rem);
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin-bottom: auto;
    color: var(--primary-color);
}

#menu::before {
    content: "\2630";
    font-size: clamp(.5rem, 7vw, 2rem);
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    margin: 0.5rem;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid darkblue;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(.5rem, 7vw, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: var(--primary-color);
    background: linear-gradient(45deg,
            #54c3fe 5%,
            /* Highlight */
            #f8d2cf 20%,
            /* Light shade */
            #b5bbd9 50%,
            /* Mid-tone */
            #ffebb5 80%,
            /* Dark shade */
            #4ebeff 95%
            /* Another light shade */
        );
    border: 2px solid darkblue;
    border-radius: 10px;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "✖️";
}

main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    font-family: var(--font-secondary);
   /* background-image: linear-gradient(45deg,
                #54c3fe 5%,
                /* Highlight */
                /*#f8d2cf 20%,
                /* Light shade */
              /*  #b5bbd9 50%,
                /* Mid-tone */
              /*  #ffebb5 80%,
                /* Dark shade */
              /*  #4ebeff 95%
                /* Another light shade */
/*)*/}

figure {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

figcaption {
    font-family: var(--font-primary);
    font-size: .8rem;
    color: var(--primary-color);
    border: 3px solid green;
    border-radius: var(--global-radius);
    margin-top: -5px;

}

figure img {
    width: clamp(75px, 7vw, 300px);
    height: auto;
    object-fit: contain;
    /* or contain */
}

footer {
    max-width: 960px;
    margin: 0 auto;

    /* Adds a shadow for depth */
    text-align: center;
    font-size: 16px;
    width: 100%;
    border-top: 3px solid blue;
}