:root {
    --font-family: Baskerville,
            Georgia,
            'Times New Roman',
            serif;
    --primary-color: black;
    --primary-bordor-color: darkblue;
    --background-color: #eee;
    --global-radius: 6px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Baskerville, 'Times New Roman', Times, serif;
    max-width: 30rem;
    margin: 0 auto;
    padding: 20px; 
    border: 5px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);       
}

h1 {
    text-align: center;
    margin: 0;
    border: 2px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    font-size: 2rem;
    background-color: #0a0a1a;
        /* Very dark blue/black background */
    background-image: radial-gradient(circle at center, #0f3460 0%, #0a0a1a 100%);
        /* Subtle blue glow */
    color: white;
        /* Light text color for contrast */
        /* Ensures the background covers the entire viewport */
        /*min-height: 100vh;*/
       /* margin: 0;*/
    margin-bottom: 10px;

}

/* stars */
input[type="radio"] {
    display: none;
    position: relative;
}

.wf1 label {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: .5rem;
    color: var(--primary-color);
    font-size: 1.2rem;
}

#product-selector {
    background-color: var(--background-color);
    border: 1px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    padding: .75rem;
    color: var(--primary-color);
    width: 100%; 
    max-width: 300px;
    font-family: var(--font-family);
    font-size: 1rem;
    margin-bottom: 5px;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars>label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-top: -15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.stars>label:hover {
    color: #fff08d;
    transform: scale(1.3);
}

.stars>label::before {
    content: "\2606";
}

.stars input:checked~label::before {
    content: "\2605";
}

input[type="date"] {
    background-color: var(--background-color);
    /*display: block;*/
    border: 1px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    padding: .75rem;
    color: var(--primary-color);
    max-width: 200px;
    font-family: var(--font-family);
    font-size: 1rem;
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

.features {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.2rem;
    grid-auto-rows: 45px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.italics {
    font-style: italic;
    color: #111111;
    font-size: 1rem;
}

.checkbox {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: var(--global-radius);
    background-color: #fff;
    cursor: pointer;
    border: 2px solid gold;
}

.checkbox input[type="checkbox"]:checked {
    background-color: gold;
    border-color: gold;
    content: "\2713";
    font-size: 16px; 
}

.checkbox input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox label {
    margin: 0;
    margin-top: -3px;
    color: var(--primary-color);
    font-size: 1rem;
}

.review label {
    display: inline;
    margin-top: 1rem;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.review textarea {
    background-color: var(--background-color);
    border: 2px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    padding: .75rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 400px;
    min-height: 7rem;
    font-family: var(--font-family);
    font-size: 1rem;
    margin-bottom: 20px;
}

.name label{
    display: inline;
    margin-top: 3rem;
    margin-bottom: 100px;
}

.name input {
    background-color: var(--background-color);
    border: 2px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    padding: .75rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 400px;
    font-family: var(--font-family);
    font-size: 1rem;
}

input[type="submit"] {
    font-family: var(--font-family);
    font-size: 1.2rem;
    margin-top: 2rem;
    background-color: #0a0a1a;
    background-image: radial-gradient(circle at center, #0f3460 0%, #0a0a1a 100%);
    color: white;
    border: 2px solid var(--primary-bordor-color);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem  2%;
    box-shadow: 1px 1px 4px #999;
}

footer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,20px);
    background-color: var(--background-color);
    border: 2px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    width: 100%;
}



