* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --global-bg-color: linear-gradient(45deg,
                #54c3fe 5%,
                /* Highlight */
                #f8d2cf 30%,
                /* Light shade */
                #b5bbd9 50%,
                /* Mid-tone */
                #ffebb5 80%,
                /* Dark shade */
                #4ebeff 95%
                /* Another light shade */
            );

}

body {
    font-family: Baskerville, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    background: var(--global-bg-color);
}
h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: auto;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: auto;
   /* min-width: 400px;*/
    border: 5px solid #9899AD;
    background: var(--global-bg-color);
    border-radius: 10px;
    margin: 5px;
}
.data h2 {
    grid-column: span 2;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: auto;
    gap: 15px;
    /*max-width: 375px;*/
    border: 5px solid #F6D759;
    border-radius: 10px;
    background: var(--global-bg-color);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.weather h2 {
    grid-column: span 2;
}

.wind {
    width:100px;
    height: 100px;
    justify-self: right;
}

.sun {
    width:100px;
    height: 100px;
    justify-self: left;
}

p {
    font-family: Baskerville, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.p-label {
    text-align: right;
}

.p-value {
    text-align: left;
}

footer {
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 740px) {
     .photo  {
            display: none;
        }

        body {
            max-width: 960px;
            margin-right: auto;
            margin-left: auto;
        }
         
        main  { 
            background-image: url("../images/maui2.webp");
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }

        h1 {
            border-bottom: 20px solid #0C7600;
        }

        data {
            grid-row: 1 / span 2;
            width: 100%;
            height: 100%;
            margin: 20px;
            align-self: center;
        }
       
        .data h2 {
            text-align: left;
            background-color: #4EBEFF;
            border: 2px solid red;
            margin: 20px;

        }

        .weather {
            grid-area: 2 /3 / 3 / 3;
            margin: 20px;
        }
        
        footer {
            grid-area: 4 / 1 / 4 / 4;
            background: var(--global-bg-color);
        }
    }