:root {
    --font-family: Baskerville,
        Georgia,
        'Times New Roman',
        serif;
    --primary-color: black;
    --primary-bordor-color: #000099;
    --background-color: #eee;
    --global-radius: 6px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    max-width: 30rem;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
}

h1 {
    text-align: center;
    margin: 0;
    border: 2px solid var(--primary-bordor-color);
    border-radius: var(--global-radius);
    font-size: 2rem;
    background-color: #000099;
    /* Very dark blue/black background */
    background-image: radial-gradient(circle at center, #0f3460 0%, #0a0a1a 100%);
    /* Subtle blue glow */
    color: #fff;
    /* Light text color for contrast */
    /* Ensures the background covers the entire viewport */
    /*min-height: 100vh;*/
    /* margin: 0;*/
    margin-bottom: 10px;

}

p {
    font-size: 1.5rem;
    padding-left: 10px;;
}